body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
    font-size: 12px;
}

button {
    font-size: 1rem;
    /* border: 1px solid lightgrey; */
    outline: none;
}

.jobs-container {
    border-bottom: 1px solid lightgrey;
    padding: 1rem;
    background: #fdfdfd;
}

.jobs {
    display: flex;
    flex-wrap: wrap;
}

.job {
    background: #ffffff;
    padding: 1rem;
    border-radius: 0.5rem;
    width: 300px;
    border: 1px solid lightgrey;
    position: relative;
}

.job button {
    position: absolute;
    right: 1rem;
    top: 1rem;
}
